.navigator {
  /* background-colorgb(122, 34, 49)ink; */
  display: flex;
  font-family: 'Comfortaa', cursive;
  width: 100vh;
  padding-block: 1.5rem;
}

.page-link {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 20px;
  margin-right: 2rem;
  text-decoration: none;
  padding-block: 1rem;
  color: #7b7b7b;
  transition: all 200ms ease-in-out;
  position: relative;
}
.page-link::after,
.page-link.active::after {
  transition: all 3s ease-in-out;
}
.page-link:hover::after,
.page-link.active::after {
  transition: all 3s ease-in-out;
  position: absolute;
  top: 100%;
  left: 0;
  content: '';
  width: 100%;
  border-radius: 5px;
  background-color: rgba(124, 160, 252, 0.87);
  height: 5px;
}
